#!/bin/bash

OS=$(uname)
DOTFILES_DIR="{{ dotfiles_dir }}"
echo "Dotfiles directory: $DOTFILES_DIR"

STOW_DIRS="{{ stow_dirs | join(' ') }}"

# Pytanie użytkownika o wybranie opcji
echo "Wybierz opcję dla stow:"
echo "1) restow - odświeża symlinki bez nadpisywania istniejących plików."
echo "2) override - nadpisuje istniejące pliki symlinkami."
read -p "Wybierz opcję (1 lub 2): " user_choice

# Sprawdzenie wyboru użytkownika
if [[ "$user_choice" == "1" ]]; then
    STOW_OPTION="--restow"
    echo "Wybrano: restow"
elif [[ "$user_choice" == "2" ]]; then
    STOW_OPTION="--override"
    echo "Wybrano: override"
else
    echo "Nieprawidłowy wybór. Przerywam."
    exit 1
fi

echo "Stowing dotfiles using option: $STOW_OPTION"

# Wykonanie stow dla każdego katalogu
for dir in $STOW_DIRS; do
  if [[ "$OS" == "Darwin" ]]; then
    if [[ "$dir" == "sublime_text" ]]; then
      stow -v $STOW_OPTION --target="$HOME/Library/Application Support/Sublime Text" "$DOTFILES_DIR/$dir"
    elif [[ "$dir" == "code" ]]; then
      stow -v $STOW_OPTION --target="$HOME/Library/Application Support/Code" "$DOTFILES_DIR/$dir"
    else
      stow -v $STOW_OPTION --target="$HOME" "$DOTFILES_DIR/$dir"
    fi
  else
    if [[ "$dir" == "sublime_text" ]]; then
      stow -v $STOW_OPTION --target="$HOME/.config/sublime-text" "$DOTFILES_DIR/$dir"
    elif [[ "$dir" == "code" ]]; then
      stow -v $STOW_OPTION --target="$HOME/.config/Code" "$DOTFILES_DIR/$dir"
    else
      stow -v $STOW_OPTION --target="$HOME" "$DOTFILES_DIR/$dir"
    fi
  fi
done

echo "Dotfiles have been successfully processed with $STOW_OPTION option!"